{% extends "base.html" %}
{% block title%}
Spellburn and Battlescars | Sign in
{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5">
    <h1>Sign in</h1>
    <form method="POST">
        {% csrf_token %}
        {{ register_form|crispy }}
        <button class="btn btn-primary" type="submit">Create account</button>
    </form>
    <p class="text-center">If you already have an account <a href="{% url 'simple_auth:login' %}">log in</a> instead.
    </p>
</div>

{% endblock %}