{% extends "base.html" %}
{% block title %}
Spellburn and Battlescars | Opponents
{% endblock %}
{% block content %}
<h1>Opponnents</h1>
<br>

<div class="container">
    <div class="row">
        {% for creature in creature_list %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ creature.name }}
                    </h5>

                    <table class="table">
                        <tr>
                            <th>♥️</th>
                            <th>🛡️</th>
                            <th>💪</th>
                            <th>🧠</th>

                        </tr>
                        <tr>
                            <td>{{creature.hp}}</td>
                            {% if creature.armor %}
                            <td>{{creature.armor}}</td>
                            {% else %}
                            <td>0</td>
                            {% endif %}
                            <td>{{creature.body}}</td>
                            <td>{{creature.mind}}</td>

                        </tr>

                    </table>
                    {% if creature.special %}
                    <p class="card-text">{{creature.special|safe}}</p>

                    {% endif %}
                    </p>
                </div>
            </div>
            <br>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}