{% extends "base.html" %}
{% block title %}
Spellburn and Battlescars | Opponents | {{ creature.name }}
{% endblock %}
{% block content %}
<h1>{{ creature.name }}</h1>


<table class="table table-striped">
    {% if creature.armor > 0 %}
    <tr>
        <td colspan="1"><strong>{{creature.hp}} HP</strong></td>
        <td><strong>Armor {{creature.armor}}</strong></td>

    </tr>
    {% else %}
    <tr>
        <td colspan="2"><strong>{{creature.hp}} HP</strong></td>
    </tr>

    {% endif %}
    <tr>
        <td><strong>BODY {{creature.body}}</strong></td>
        <td><strong>MIND {{creature.mind}}</strong></td>

    </tr>
    <tr>
        <td><strong>Attack:</strong></td>
        <td><strong>{{creature.attack}}</strong></td>

    </tr>

    {% if creature.special %}
    <tr>
        <td colspan="3">{{creature.special|safe}}</td>
    </tr>
    {% endif %}


</table>


{% endblock %}