{% extends "base.html" %}
{% block title %}
Spellburn and Battlescars | Opponents
{% endblock %}
{% block content %}
<h1>Opponnents</h1>
<br>

<div class="container">
    <div class="row">
        {% for creature in creature_list %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'creatures:detail' creature.pk %}">{{ creature.name }}</a>
                    </h5>


                    <p class="card-text">HP: {{creature.hp}}</p>
                    <p class="card-text">BODY: {{creature.body}}</p>
                    <p class="card-text">MIND: {{creature.mind}}</p>
                    {% if creature.special %}
                    <p>{{creature.special|safe}}</p>

                    {% endif %}
                    </p>
                </div>
            </div>
            <br>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}