{% extends "base.html" %}
{% block title %}
Spellburn and Battlescars | Opponents
{% endblock %}
{% block content %}
<h1>Opponnents</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>HP</th>
            <th>Armor</th>
            <th>BODY</th>
            <th>MIND</th>
        </tr>
    </thead>
    {% for creature in creature_list %}
    <tr>
        <td>
            <a href="{% url 'creatures:detail' creature.pk %}">{{ creature.name }}</a>
        </td>
        <td>{{ creature.hp }}</td>
        <td>{% if creature.armor %}{{ creature.armor }}{% endif %}</td>
        <td>{{ creature.body }}</td>
        <td>{{ creature.mind }}</td>

    </tr>
    {% endfor %}
</table>
{% endblock %}