{% extends "base.html" %}

{% block title %}
Spellburn and Battlescars | {{character.name}}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>{{character.name}}</h1>
            <h2><b>BACKGROUND: </b> {{character.background}}</h2>
            <table class="table">
                <tr>
                    <th>HP</th>
                    <th>Armor</th>
                    <th>BODY</th>
                    <th>MIND</th>
                    <th>LUCK</th>
                </tr>
                <tr>
                    <td>{{character.hp}} | {{character.hp}}</td>
                    <td>{{character.armor}}</td>
                    <td>{{character.body}} | {{character.body}}</td>
                    <td>{{character.mind}} | {{character.mind}}</td>
                    <td>{{character.luck}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="2">☐ DEPRIVED</td>
                    <td>Burn to modify save</td>
                </tr>
            </table>
            <h2><b>ARCHETYPE:</b> {{character.archetype}}.</h2>
            <p>{{character.origin|safe}}</p>

            <h2><b>SPECIAL ABILITIES</b></h2>
            <p>{{triggers}}</p>
            <table class="table">
                {% for ability in abilities%}
                <tr>
                    {% if forloop.counter0 in character.abilities %}
                    <td>✅</td>
                    {% else%}
                    <td>☐</td>
                    {% endif %}
                    <td>
                        {{ability}}
                    </td>
                </tr>
                {%endfor%}
            </table>

            <table class="table">
                <tr>
                    <th>INVENTORY</th>
                    <th></th>
                </tr>
                {% for item in inventory %}
                <tr>
                    <td>{{forloop.counter}}: </td>
                    <td> {{item}}</td>

                </tr>
                {% endfor %}
            </table>
            <h5><b>GP:</b> {{character.gold}}</h5>
        </div>
    </div>
</div>

<a class='btn btn-danger float-right' role="button" href="{% url 'characters:delete_character' character.pk %}">⚰️
    Delete</a>


{% endblock %}