{% extends "base.html" %}

{% block title %}
Spellburn and Battlescars | {{character.name}}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-striped" style="width: 400px">
                <tr>
                    <th colspan="2">{{character.name}}</th>
                </tr>

                <tr>
                    <td>Background</td>
                    <td>{{character.background}}</td>
                </tr>

            </table>

            <table class="table table-striped" style="width: 400px">
                <tr>
                    <th colspan="2">Gear</th>
                </tr>
                <tr>

                    <td colspan="2">{{character.gear}}</td>
                </tr>

            </table>


        </div>
        <div class="col-xs-6"> </div>
        <div class="col-xs-6">
            <table class="table table-striped">
                <tr>
                    <th colspan="2">{{character.archetype}}</th>
                </tr>

                <tr>
                    <td>❤️</td>
                    <td> {{character.hp}}</td>
                </tr>
                <tr>
                    <td>🛡️</td>
                    <td>{{character.armor}}</td>
                </tr>

            </table>

        </div>
        <div class="col-xs-6"> </div>
        <div class="col-xs-6">
            <table class="table table-striped" style="width: 250px">
                <tr>
                    <th scope="col">Attribute</th>
                    <th scope="col">Value</th>

                </tr>
                <tr>
                    <td>BODY</td>
                    <td>{{character.body}}</td>

                </tr>
                <tr>
                    <td>MIND</td>
                    <td>{{character.mind}}</td>

                </tr>
                <tr>
                    <td>LUCK</td>
                    <td>{{character.luck}}</td>

                </tr>


            </table>




        </div>
        <div class="col-xs-6"> </div>

    </div>
</div>



<br>

<a class="btn btn-secondary" role="button" href="#">📝 Edit</a>
<a class='btn btn-danger' role="button" href="{% url 'characters:delete_character' character.pk %}">⚰️ Delete</a>


{% endblock %}