{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Spellburn and Battlescars | Archetype Choice
{% endblock %}

{% block content %}
<h1>Select an archetype for {{character.name}}</h1>
<br>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Tavern</a></li>
        <li class="breadcrumb-item active" aria-current="page">Select an Archetype</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Attribute</th>
                    <th scope="col">Value</th>
                </tr>
                <tr>
                    <td>BODY</td>
                    <td>{{character.body}}</td>
                </tr>
                <tr>
                    <td>MIND</td>
                    <td>{{character.mind}}</td>
                </tr>
                <tr>
                    <td>LUCK</td>
                    <td>{{character.luck}}</td>
                </tr>
            </table>
        </div>

        <div class="col-sm">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Select</button>
            </form>
        </div>


    </div>
</div>

{% endblock %}