{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Donjon Rampe Classiques | Créer un personnage
{% endblock %}

{% block content %}
<h1>Créer un personnage</h1>
<br>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Taverne</a></li>
        <li class="breadcrumb-item active" aria-current="page">Créer un personnage</li>
    </ol>
</nav>
<br>

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Créer</button>
</form>

{% endblock %}