{% extends "base.html" %}

{% block title %}
Spellburn and Battlescars | My Characters
{% endblock %}

{% block content %}
<h1>My Characters</h1>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>

            <th scope="col">Archetype</th>

            <th scope='col'>HP</th>
            <th scope='col'>BODY</th>
            <th scope='col'>MIND</th>
            <th scope='col'>LUCK</th>
            <th scope='col'>Background</th>


            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for char in characters %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'characters:character_detail' char.pk %}">{{char.name}}</a></td>

            <td>{{char.archetype}}</td>

            <td>{{char.hp}}</td>
            <td>{{char.body}}</td>
            <td>{{char.mind}}</td>
            <td>{{char.luck}}</td>
            <td>{{char.background}}</td>


            <td><a class='danger' href="{% url 'characters:delete_character' char.pk %}">⚰️</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<a class="btn btn-primary" role="button" href="{% url 'characters:create_character' %}">Create a new character</a>
{% endblock %}