{% load static %}
<!doctype html>
<html lang="en">


<head>

    <!-- boostrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- our css -->
    <link rel="stylesheet" href="{% static 'creatures/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔥</text></svg>">

</head>

<body>
    <!-- Nav bar-->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Spellburn and Battlescars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">🧙 Characters</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="{% url 'characters:create_character' %}">Create a
                                character</a>
                            <a class="dropdown-item" href="{% url 'characters:my_characters' %}">My characters</a>

                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'characters:scars' %}">🤕 Scars</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'characters:equipment' %}">⚙️ Equipment</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">🔮 Magic</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="{% url 'characters:spells' %}">📜 Spells List</a>
                            <a class="dropdown-item" href="{% url 'characters:mishaps' %}">💥 Mishaps Table</a>
                            <a class="dropdown-item" href="{% url 'characters:roll_spell' %}">🎲 Cast a spell</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">💁 NPCs</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'creatures:NPCs' %}">🙋 NPCs generalities</a>
                            <a class="dropdown-item" href="{% url 'creatures:hirelings' %}">🙋 Hirelings</a>
                            <a class="dropdown-item" href="{% url 'creatures:index' %}">🧟 Opponents</a>
                        </div>
                    </li>



                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Edit my account</a>

                            <div class=" dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="{% url 'simple_auth:logout' %}">Log out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'simple_auth:login'%}">Login / Sign in<span
                                class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </nav> <br>
    <br>
    <br>
    <!--messages-->

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}


    {% endblock %}
    <div class="container div-1">

        <div id="content">
            {% block content %}{% endblock %}
            <br><br>
        </div>
    </div>
    {% block footer%}
    <br><br>
    <nav class="navbar bg-light fixed-bottom">
        <div class="container-fluid">
            <p><a href="https://xenio-in-a-bottle.itch.io/sab" target="blank"><b>Spellburn and
                        Battlescars</b></a> is a game
                by <a href="https://xenio-in-a-bottle.itch.io/" target="blank">Luís Fernando Anizello & Matheus Henrique
                    Morais</a>, licensed under
                CC-BY-SA 4.0.
                All art by Emiel Boven, please <a target="blank" href="https://www.patreon.com/emielboven">support the
                    artist</a>.</p>
        </div>
    </nav>
    {% endblock %}
    <!-- Jquery and Popper-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>


    <!-- Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>